<select class="form-select" id="validationCustom04" required>
    <option selected disabled value="">Markalar</option>
    <option><li  [class] ="getAllBrandClass()" routerLink = "/cars">Tum Araclar</li></option>
    <option *ngFor="let brand of brands">
        <ul class = "list-group">
            <li (click)="setCurrentBrand(brand)" 
                routerLink = "/cars/brand/{{brand.id}}" 
                [class] ="getCurrentBrandClass(brand)">{{brand.brandName}}</li>    
        </ul>
    </option>
</select>

<!--<ul class = "list-group">
    <li [class] ="getAllBrandClass()" routerLink = "/cars">Tum Araclar</li>
    <li (click)="setCurrentBrand(brand)" *ngFor="let brand of brands"
    routerLink = "/cars/brand/{{brand.id}}" 
    [class] ="getCurrentBrandClass(brand)">{{brand.brandName}}</li>    
</ul> -->

<!-- <div *ngIf = "dataLoaded == false" class="spinner-border text-primary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<table *ngIf = "dataLoaded == true" class="table">
    <thead>
        <tr>            
            <th>Id</th>            
            <th>Marka</th>           
        </tr>
    </thead>
    <tr *ngFor= "let brand of brands">        
        <td>{{brand.id}}</td>
        <td>{{brand.brandName}}</td>     
    </tr>
</table> -->
