<div *ngIf = "dataLoaded == false" class="spinner-border text-primary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<div class="mb-3">
  <label for="filterText" class="form-label">Araba Ara</label>
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Arama ifadesi giriniz">
</div>

<div *ngIf="filterText" class="alert alert-primary">
  {{filterText}} aradiniz.
</div>

<div class="row">
  <div  *ngFor= "let car of cars | filterPipe:filterText" class="card" style="width: 18rem;">
    <img src="{{car.imagePath}}" class="card-img-top" alt="image">
    <div class="card-body">
      <h5 class="card-title">{{car.carName}}</h5>
      <p class="card-title">{{car.brandName}}</p>
      <p class="card-title">{{car.colorName}}</p>
      <p class="card-title">{{car.dailyPrice}}₺</p>
          
      <div class="row">
        <div class="col-md-6"><button (click)="goToDetail(car)" class="btn btn-primary">Detay</button></div>
        <div class="col-md-6"><button (click)="addToRental(car)" class="btn btn-primary">Kirala</button></div>
      </div>      
    </div>
  </div>
</div>
